Exercise 2/coverage/clover.xml
Exercise 2/coverage/coverage-final.json
Exercise 2/coverage/lcov.info
Exercise 2/coverage/lcov-report/base.css
Exercise 2/coverage/lcov-report/block-navigation.js
Exercise 2/coverage/lcov-report/favicon.png
Exercise 2/coverage/lcov-report/index.html
Exercise 2/coverage/lcov-report/index.ts.html
Exercise 2/coverage/lcov-report/prettify.css
Exercise 2/coverage/lcov-report/prettify.js
Exercise 2/coverage/lcov-report/sort-arrow-sprite.png
Exercise 2/coverage/lcov-report/sorter.js
